@using System.Security.Claims
@using Microsoft.AspNetCore.SignalR.Client
@using Chat.Try.Models
@inject Chat.Try.Accessors.IChatDbAccessor _chatAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable

<div id="scrollbox" class="col-6">
    <div class="scroll chatboard">
@foreach (var message in DisplayMessageList)
{
    @if (message.UserId == UserId)
    {
        <div class="card-body sent">
            <h4 class="card-title">@message.Message</h4>
            <div class="small">You @message.CreatedOn.ToString("g")</div>
        </div>
    }
    else
    {
        <div class="card-body received">
            <h4 class="card-title">@message.Message</h4>
            <div class="small">@message.UserName @message.CreatedOn.ToString("g")</div>
        </div>
    }

 }
    </div>    
    <hr />
    <div class="row">
        <div class="col-9">
            <input @bind="NewMessage" type="text" class="form-control" placeholder="Send a Message" />
        </div>
        <div class="col-3">
            <button type="button" @onclick="@(() => SendAsync())" class="btn btn-primary">Send</button>
        </div>
    </div>
    @*<textarea class="input-lg" placeholder="enter your comment" @bind="@NewMessage"></textarea>
    <button class="btn btn-lg" @onclick="@(() => SendAsync(NewMessage))">Send</button>*@
</div>  

<style>
    .scroll {
        max-height: 400px;
        overflow-y: auto;
    }

    .chatboard {
        display: grid;
        width: 100%;
        grid-gap: 0.6rem;
        max-width: 40rem;
    }

    .sent,
    .received {
        padding: 1%;
        min-width: 20rem;
        border-radius: 0.6rem;
    }

    .received {
        justify-self: left;
        background-color: #0A2472;
        color: white;
    }

    .sent {
        text-align: right;
        justify-self: right;
        align-content: right;
        background-color: #A6E1FA;
    }
</style>

@code {
    [Parameter]
    public Conversations Conversation { get; set; } 
    [Parameter]
    public string UserId { get; set; }
    [Parameter]
    public string OtherUserId { get; set; }

    private HubConnection HubConnection;
    private List<DisplayMessage> DisplayMessageList = new();
    private string NewMessage { get; set; }

    public bool IsConnected => HubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        var timer = new System.Threading.Timer((_) =>
        {
            InvokeAsync(async () =>
            {
                // Update the UI
                var tempMessages = _chatAccessor.GetUserMessages(Conversation.Id).Select(x => new DisplayMessage
                {
                    UserId = x.ConversationUser.UserId,
                    UserName = x.ConversationUser.User.UserName,
                    Message = x.Message,
                    CreatedOn = x.CreatedOn
                });

                if (DisplayMessageList.Count != tempMessages.Count())
                {
                    DisplayMessageList = tempMessages.OrderByDescending(x => x.CreatedOn).ToList();
                    StateHasChanged();
                }
            });
        }, null, 0, 15000);

        //HubConnection = new HubConnectionBuilder()
        //    .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
        //    .Build();

        //HubConnection.On<string, string>("ReceiveUserMessage", (userId, message) =>
        //{
        //    Conversation.ConversationUsers.First(x => x.UserId == userId)
        //        .UserMessages.Add(new UserMessages { Message = message, CreatedOn = DateTimeOffset.Now });

        //    StateHasChanged();
        //});

        //await HubConnection.StartAsync();
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        parameters.TryGetValue<Conversations>(nameof(Conversation), out var convo);
        Conversation = convo;
        parameters.TryGetValue<string>(nameof(UserId), out var userId);
        UserId = userId;
        OtherUserId = Conversation.ConversationUsers.First(x => x.UserId != UserId).UserId;

        var messages = Conversation.ConversationUsers.SelectMany(x => x.UserMessages)
            .Select(x => new DisplayMessage
                {
                    UserId = x.ConversationUser.UserId,
                    UserName = x.ConversationUser.User.UserName,
                    Message = x.Message,
                    CreatedOn = x.CreatedOn
                });
        DisplayMessageList = messages.OrderByDescending(x => x.CreatedOn).ToList();

        await base.SetParametersAsync(parameters);
        StateHasChanged();
    }

    private async Task SendAsync()
    {
        if (!string.IsNullOrEmpty(NewMessage))
        {
            var newMessage = new DisplayMessage()
            {
                UserId = UserId,
                Message = NewMessage,
                CreatedOn = DateTimeOffset.Now,
            };

            DisplayMessageList.Add(newMessage);
            DisplayMessageList = DisplayMessageList.OrderByDescending(x => x.CreatedOn).ToList();
            _chatAccessor.SaveNewMessage(Conversation, newMessage);
            NewMessage = null;
            StateHasChanged();
            //await HubConnection.SendAsync("SendUserMessage", UserId, messageInput);
        }
    }

    public ValueTask DisposeAsync()
    {
        return ValueTask.CompletedTask;
    }
}
